*{
    font-family: Verdana;
    color: #335576;
}

.sdw_container {
    width: 100%;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    padding-left: 5.25rem;
    padding-right: 5.25rem;
}