*{
    font-family: Verdana;
    color: #335576;
}



// used to standardize the outer most left/right spacing of each major 'section'
.sdw_container {
    width: 100%;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    padding-left: 5.25rem;
    padding-right: 5.25rem;
}