.body{
    border:none;
    width: 100%;
    height: 40.25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 3.5rem 0 5.1rem 0;

    background-image: url("../assets/Images/hawaii.jpg");
    background-size: 100%;
    background-position: right 50% bottom 48%;
    background-repeat: no-repeat;
    transform: scale(1, 1);

    
    margin-top: 4rem;
}

.title{
    color: #FFFFFF;
    font-size: 4.25rem;
    text-transform: capitalize;
    font-weight: bold;
    box-sizing: border-box;
    border: none;
}

.cdsection{
    border:none;
    box-sizing:border-box;
    width: 100%;
    height: 87.5%;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    padding: 0rem 14.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__card{
        background-color: #FFFFFF;
        border:none;
        box-sizing: border-box;
        padding: 1.28rem 1rem 0rem 1rem;
        margin: 0 0 0 0;
        list-style-type: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 246.4px;
        border-radius: 5px;
        height: 21.5625rem;
        // position: relative;

        & li{
            background-color: #FEFAF5;
            box-sizing: border-box;
            width: 212px;
            height: 2.632rem;
            display: flex;
            justify-content: center;
            align-items: center;
            margin:0.75rem 0 0 0;
            text-transform: capitalize;
            // position: absolute;
        }

        .topic{
            margin: 0 0 1.13rem 0;
            height: 1.5rem;
            text-transform: capitalize;
            font-weight: bold;
            border-bottom: 2px solid black;
        }
    }
}