.link--current{
    border-bottom: 2px solid blue;
}
.navigation{
    background-color:grey;
    height: 3.75rem;
    display: flex;
    padding-top:1.1rem;
    justify-content: space-between;
    align-items:baseline;  
}

.sitename{
    background-color: aliceblue;
    text-decoration: none;
    color: green;
    font-size: 1.125rem;
    text-transform: capitalize;
    font-weight: bolder;
}

.link{
    background-color: aqua;
    height: 2rem;
    &__name{
        font-size: 0.875rem;
        text-decoration: none;
        padding: 0 0 0.25rem 0;
        margin: 0 0.4rem 0 0.4rem;
        // border-bottom: 2px solid blue;
        text-transform: capitalize;
    }

    &__namemgl{
        font-size: 0.875rem;
        text-decoration: none;
        padding: 0 0 0.25rem 0;
        margin: 0 0.4rem 0 0;
        // border-bottom: 2px solid blue;
        text-transform: capitalize;
    }
    &__namemgr{
        font-size: 0.875rem;
        text-decoration: none;
        padding: 0 0 0.25rem 0;
        margin: 0 0 0 0.4rem;
        // border-bottom: 2px solid blue;
        text-transform: capitalize;
    }
}